.header {
  background-color: #ebe8dd;
  text-align: center;
  padding: 20px;
}

.mainContent {
  background-color: #ebe8dd;
}

.footer {
  background-color: #ebe8dd;
  text-align: center;
  padding: 10px;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}